In [42]:
import pandas as pd
import matplotlib.pyplot as plt
from config import g_key
from citipy import citipy
import requests
from scipy.stats import linregress
from datetime import datetime
import gmaps
gmaps.configure(api_key=g_key)

In [43]:
file_to_read = "weather_data/cities.csv"
city_data_df = pd.read_csv(file_to_read)
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [44]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
locations

         Lat       Lng
0     2.3000  111.8167
1    43.1536  -93.2010
2    40.1629   -8.3327
3   -42.7826  147.0587
4   -34.5322   20.0403
..       ...       ...
566  28.3667  129.4833
567  -2.7906  -49.6717
568  66.8333   70.8333
569  42.6333   24.8000
570  36.4337  -99.3904

[571 rows x 2 columns]

In [47]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
temps

[74.34,
 71.73,
 79.03,
 47.7,
 53.28,
 33.39,
 74.64,
 29.82,
 73.18,
 76.73,
 60.87,
 32.02,
 39.45,
 87.24,
 69.42,
 62.85,
 31.62,
 37.58,
 78.08,
 48.06,
 59.9,
 47.21,
 58.05,
 76.55,
 46.85,
 83.71,
 106.5,
 34.02,
 56.23,
 37.51,
 52.05,
 93.72,
 72.36,
 60.12,
 63.25,
 89.29,
 49.12,
 76.08,
 89.56,
 79.54,
 94.77,
 83.61,
 77.04,
 31.73,
 79.99,
 50.32,
 78.24,
 33.15,
 72.12,
 46.47,
 60.57,
 85.05,
 76.23,
 86.81,
 37.81,
 34.74,
 76.15,
 72.09,
 51.6,
 62.51,
 45.01,
 71.87,
 86.38,
 70.38,
 53.29,
 72.23,
 68.58,
 71.29,
 28.56,
 90.95,
 93.47,
 60.93,
 58.1,
 73.08,
 90.82,
 72.25,
 90.25,
 98.51,
 79.39,
 64.8,
 78.76,
 82.6,
 95.32,
 72.7,
 86.65,
 63.54,
 61.52,
 80.11,
 72.21,
 58.66,
 61.41,
 40.84,
 81.52,
 78.85,
 65.66,
 61.38,
 29.68,
 26.85,
 68.99,
 40.42,
 77.41,
 89.22,
 80.82,
 79.21,
 53.44,
 31.35,
 71.11,
 37.9,
 76.46,
 41.81,
 85.32,
 85.23,
 39.51,
 51.69,
 68.65,
 83.59,
 48.11,
 96.66,
 39.4,
 78.31,
 82.18,
 84.07,
 79.03,
 77.34,
 56.07,
 47.91,
 65.41,
 52.81,
 96.39,
 34.48,
 70.61,
 55.11,
 70.09,
 71.98,
 83.53,
 75.78,
 85.37,
 77.54,
 76.08,
 66.61,
 72.01,
 39.83,
 84.88,
 62.15,
 84.88,
 42.78,
 27.34,
 89.13,
 92.43,
 72.46,
 65.44,
 74.44,
 53.67,
 63.39,
 62.01,
 83.97,
 79.57,
 48.31,
 66.72,
 66.09,
 65.08,
 14.58,
 86.04,
 89.65,
 54.93,
 53.96,
 42.12,
 90.23,
 77.83,
 53.71,
 72.03,
 57.94,
 49.91,
 81.45,
 39.58,
 64.45,
 83.17,
 53.89,
 31.39,
 82.27,
 89.69,
 43.57,
 63.12,
 69.57,
 82.98,
 79.52,
 41.61,
 93.34,
 79.88,
 90.81,
 36.59,
 50.27,
 68.95,
 80.62,
 71.4,
 76.44,
 82.36,
 30.49,
 64.8,
 96.71,
 87.53,
 74.55,
 84.54,
 85.95,
 69.1,
 77.14,
 88.47,
 75.6,
 70.39,
 69.28,
 56.71,
 58.01,
 52.41,
 53.85,
 85.3,
 78.62,
 85.96,
 81.5,
 47.32,
 51.69,
 39.45,
 82.69,
 83.59,
 77.68,
 87.6,
 102.42,
 61.63,
 67.96,
 41.61,
 80.33,
 59.99,
 67.01,
 88.21,
 79.12,
 49.37,
 75.42,
 72.99,
 56.5,
 73.09,
 35.71,
 53.2,
 78.33,
 59.27,
 80.47,
 47.32,
 75.33,
 57.51,
 87.4,
 86.79,
 74.95,
 89.69,
 68.68,
 65.68,
 67.96,
 72.55,
 94.1,
 61.21,
 89.46,
 82.85,
 60.76,
 61.45,
 77.45,
 55.45,
 90.27,
 58.68,
 38.89,
 63.86,
 11.08,
 58.33,
 58.33,
 67.55,
 54.46,
 100.74,
 59.85,
 36.52,
 63.9,
 29.7,
 77.97,
 91.38,
 83.8,
 43.16,
 73.83,
 54.93,
 80.35,
 78.93,
 71.69,
 87.67,
 90.16,
 59.02,
 71.37,
 63.97,
 71.47,
 79.81,
 46.87,
 90.88,
 74.19,
 74.23,
 49.68,
 32.61,
 87.01,
 77.63,
 82.13,
 96.28,
 49.37,
 65.61,
 89.29,
 77.29,
 54.55,
 72.46,
 90.55,
 94.48,
 62.44,
 71.4,
 91.02,
 55.87,
 26.4,
 74.98,
 94.06,
 47.93,
 69.12,
 78.94,
 69.04,
 62.22,
 34.93,
 82.54,
 71.13,
 56.59,
 69.04,
 59.2,
 75.54,
 40.1,
 84.09,
 34.63,
 65.95,
 57.45,
 80.55,
 65.12,
 81.91,
 73.47,
 65.98,
 84.2,
 90.73,
 88.16,
 95.65,
 37.36,
 77.0,
 53.85,
 34.3,
 66.69,
 56.48,
 87.82,
 80.62,
 82.47,
 60.73,
 58.89,
 72.77,
 74.3,
 60.31,
 64.62,
 62.06,
 52.99,
 75.81,
 74.55,
 66.11,
 61.25,
 46.04,
 80.33,
 86.02,
 88.81,
 73.38,
 79.93,
 89.67,
 77.77,
 89.37,
 83.8,
 68.7,
 86.32,
 71.71,
 90.52,
 64.53,
 69.13,
 62.35,
 40.3,
 87.19,
 82.72,
 45.72,
 92.77,
 47.89,
 91.92,
 83.88,
 82.33,
 82.42,
 85.66,
 77.63,
 84.18,
 62.38,
 69.78,
 61.92,
 44.85,
 81.46,
 55.04,
 77.47,
 93.07,
 62.51,
 50.25,
 73.54,
 45.91,
 60.06,
 51.82,
 67.19,
 79.99,
 42.76,
 91.78,
 44.92,
 74.93,
 67.53,
 62.35,
 56.14,
 38.25,
 81.91,
 63.39,
 63.03,
 69.44,
 71.51,
 84.29,
 70.05,
 55.89,
 72.73,
 50.18,
 84.51,
 46.49,
 46.8,
 78.91,
 40.03,
 65.84,
 69.01,
 38.34,
 92.91,
 49.91,
 61.12,
 90.1,
 82.42,
 86.07,
 68.04,
 56.98,
 75.58,
 69.6,
 88.79,
 63.05,
 63.93,
 83.59,
 83.5,
 71.55,
 67.89,
 75.18,
 67.96,
 32.32,
 51.75,
 72.66,
 67.53,
 33.98,
 64.9,
 79.7,
 59.09,
 83.91,
 73.38,
 51.91,
 70.48,
 102.65,
 86.54,
 44.38,
 60.31,
 46.36,
 61.29,
 91.81,
 70.3,
 85.01,
 49.86,
 56.91,
 56.75,
 81.73,
 38.71,
 78.69,
 72.16,
 37.24,
 84.56,
 67.12,
 69.15,
 65.17,
 95.05,
 49.01,
 57.81,
 39.7,
 46.99,
 48.79,
 44.44,
 36.91,
 70.11,
 40.73,
 61.77,
 38.44,
 85.1,
 84.52,
 78.71,
 76.78,
 87.49,
 60.1,
 103.69,
 93.11,
 63.39,
 83.8,
 87.24,
 52.77,
 81.95,
 89.73,
 68.88,
 59.65,
 55.49,
 61.39,
 82.06,
 59.05,
 75.7,
 81.46,
 44.73,
 88.02,
 62.67,
 81.16,
 82.27,
 70.95,
 72.01,
 52.45,
 70.09,
 86.52,
 80.55,
 79.21,
 76.42,
 77.18,
 60.89,
 54.57,
 50.92,
 68.99,
 52.25,
 62.91,
 55.29,
 81.55,
 68.18,
 94.05,
 76.57,
 71.78,
 68.41,
 61.05,
 44.33,
 78.1,
 80.65,
 75.88,
 82.51,
 77.54,
 70.3,
 73.04,
 83.43,
 55.15,
 93.25,
 46.24,
 47.5,
 67.69,
 86.58,
 75.97,
 84.11,
 33.71,
 72.57,
 83.43]

In [50]:

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [52]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [53]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [54]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 32.0
What is the maximum temperature you would like for your trip? 75.0

In [55]:
city_data_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Sibu,MY,2021-05-26 18:02:06,2.3000,111.8167,74.34,94,75,2.13
1,1,Mason City,US,2021-05-26 18:02:06,43.1536,-93.2010,71.73,46,1,13.18
2,2,Lata,PT,2021-05-26 18:01:28,40.1629,-8.3327,79.03,52,71,7.20
3,3,New Norfolk,AU,2021-05-26 17:59:57,-42.7826,147.0587,47.70,62,94,1.99
4,4,Bredasdorp,ZA,2021-05-26 18:02:07,-34.5322,20.0403,53.28,83,91,1.86
...,...,...,...,...,...,...,...,...,...,...
566,566,Naze,JP,2021-05-26 18:04:46,28.3667,129.4833,75.97,90,42,20.65
567,567,Baiao,BR,2021-05-26 18:04:47,-2.7906,-49.6717,84.11,64,35,2.95
568,568,Yar-Sale,RU,2021-05-26 18:04:47,66.8333,70.8333,33.71,71,41,12.15
569,569,Karlovo,BG,2021-05-26 18:04:47,42.6333,24.8000,72.57,93,99,2.53
570,570,Woodward,US,2021-05-26 18:04:48,36.4337,-99.3904,83.43,70,75,16.35

In [64]:
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) & (city_data_df["Max Temp"] <= max_temp)]
preferred_cities_df.notnull().count()

City_ID       330
City          330
Country       330
Date          330
Lat           330
Lng           330
Max Temp      330
Humidity      330
Cloudiness    330
Wind Speed    330
dtype: int64

In [65]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                 City Country  Max Temp      Lat       Lng Hotel Name
0                Sibu      MY     74.34   2.3000  111.8167
1          Mason City      US     71.73  43.1536  -93.2010
3         New Norfolk      AU     47.70 -42.7826  147.0587
4          Bredasdorp      ZA     53.28 -34.5322   20.0403
5             Mataura      NZ     33.39 -46.1927  168.8643
6   Sao Joao Da Barra      BR     74.64 -21.6403  -41.0511
8               Kapaa      US     73.18  22.0752 -159.3190
10             Mhlume      SZ     60.87 -26.0333   31.8500
11             Barrow      US     32.02  71.2906 -156.7887
12        Deputatskiy      RU     39.45  69.3000  139.9000

In [67]:
city_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# Set parameters to search for a hotel.
hotel_params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [69]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    hotel_params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=hotel_params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [71]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""fig

Figure(layout=FigureLayout(height='420px'))

In [73]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [74]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))